.container-fluid {
    text-align: center;
}


h1 {
    color: white;
    text-align: center;
    font-size: 70px;
    font-weight: 400;
}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
}
